/* Variables globales */
:root {
  --color-text-light: rgb(255, 255, 255);
  --color-primary: rgb(45, 71, 120); 
  --color-secondary: rgb(100, 140, 188);
  --max-width-container: 1200px;
  --spacing-standard: 1rem;
  --border-radius: 5px;
  --fixed-nav-height: 60px;  /* New variable for fixed navigation height */
}

body {
font-family: Arial, sans-serif;
line-height: 1.6;
background-color: var(--color-secondary);
color: #333;
padding: 1rem;
}

/* Barra de navegación principal */
.navigation-primary {
  background-color: var(--color-primary);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: var(--spacing-standard) 2rem;
  transition: background-color 0.3s ease;
}

/* Contenedor para alinear logo y enlaces */
.navigation-container {
  max-width: var(--max-width-container);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Cambios al fondo al hacer scroll en la navegación */
.navigation-primary.scrolled {
  background-color: var(--color-primary);
  transition: background-color 1s ease;
}

.company-info {
  display: flex;
  align-items: center;
}

/* Logo como imagen de fondo */
.company-logo {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 160px;
  height: 60px;
  display: block;
}

/* Nombre de la empresa */
.company-name {
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-text-light);
  text-align: left;
  text-decoration: none;
  padding-left: 20px;
}

/* Menú de navegación */
.navigation-menu {
  display: flex;
  align-items: center;
}

/* Lista de enlaces */
.navigation-links-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 2rem;
}

/* Elementos individuales del menú */
.navigation-item {
  margin: 0;
}

/* Estilo de los enlaces */
.navigation-link {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: 500;
  font-size: 0.95rem;
  transition: color 0.1s ease;
}

.navigation-link:hover {
  color: var(--color-primary);
}

/* General styling for unordered lists */
ul {
  padding: 10px;
  border-radius: var(--border-radius);
  text-align: center;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

/* Boxed link text style */
.link-text {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: var(--color-text-light);
  text-decoration: none;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

/* Hover effect for nav links inside .nav-links (if applicable) */
.nav-links li a:hover {
  background-color: var(--color-secondary);
  color: var(--color-text-light);
}

/* Hamburger */
.hamburger {
  display: inline-block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  color: var(--color-text-light);
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  margin-top: -15px;
  margin-left: -5px;
}

/* Sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color-primary);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  z-index: 1200;
}

.sidebar a {
  display: block;
  margin: 1rem;
  padding: 0.75rem;
  text-align: center;
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  border-radius: var(--border-radius);
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: var(--color-text-light);
  color: var(--color-primary);
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-text-light);
}

main {
  margin-top: 150px;
}


.category-card {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

/* General Styles for the Product Form Container */
.Form-container {
  /* Using calc to sum the fixed nav height (80px) with the extra 60px offset */
  margin-top: calc(var(--fixed-nav-height) + 80px) auto 0;
  max-width: 600px;
  padding: 2rem;
  background-color: var(--color-primary);
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  min-width: 600px;
  
}

.products-form-container h2 {
  font-size: 2.5rem;
  color: var(--color-text-light);
  margin-bottom: 1.5rem;
  text-align: center;
}

/* Form Group Styles */
.product-form-group {
  margin-bottom: var(--spacing-standard);
}

/* Label Styles */
.product-form-group label {
  display: block;
  font-size: 1rem;
  color: var(--color-text-light);
  margin-bottom: 0.5rem;
  
}

.product-form-select {
  width: 100%;
  padding: 0.8rem;
  border: 5px solid rgba(122, 18, 18, 0.2);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--color-primary);
  transition: border-color 0.3s ease;
}

.product-form-input:focus,
.product-form-select:focus {
  border-color: var(--color-primary);
  outline: none;
}

/* Textarea Specific Styles */
textarea.product-form-input {
  resize: vertical; /* Allow vertical resizing */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .products-form-container {
      width: 90%;
      padding: 1rem;
  }
}


h2.form-title {

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 1.5rem;
  font-size: 2rem;
  color: var(--color-text-light);
}

.form-label {
  color: var(--color-text-light);
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700 !important;
}

.form-field {
  /* Your styling here */
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}


.form-input {

  height: 30px;
  border-radius: 5px;
  background-color: var(--color-text-light);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-primary);
  padding: 0.8rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

}


.form-long-input{
  border-radius: 5px;
  background-color: var(--color-text-light);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-primary);
  padding: 0.8rem;

  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.form-select{
  height: 40px;
  border-radius: 5px;
  background-color: var(--color-text-light);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-primary);
  padding: 0.8rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.grid-container {
  display: grid;
}

.grid-row {
  display: grid;
  grid-template-columns: 1fr 1fr; /* two columns of equal width */
  gap: 2rem; /* gap between the two columns */
  align-items: center; /* vertically center the content */
}

.form-group {
  display: flex;
  flex-direction: column; /* stack label above input/select */
}

/* Targeting input fields within grid-dimensions and grid-weight */
.form-input-group{
  /* Styles for input elements in the grid groups */

  width: 300px;
  border-radius: 5px;
  background-color: var(--color-text-light);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-primary);
  padding: 0.8rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


.form-label-group{
  width: 300px;
  color: var(--color-text-light);
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  font-weight: 700 !important;
}

.form-select-group{
  height: 40px;
  width: 240px;
  border-radius: 5px;
  background-color: var(--color-text-light);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--color-primary);
  padding: 0.8rem;
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

body.formulario {
  background-color: rgb(100, 140, 188); /* Set background color */
  /* Add any other styles you want to apply */
}

main.formulario {
  margin-top: 140px; /* Space between navbar and form */
  margin-left: auto;
  margin-right: auto;
}

main.formulario {
  display: flex;
  justify-content: center; /* centers horizontally */
  /* If you want to center vertically as well, add: */
  /* align-items: center; and ensure the parent has a defined height */
  margin-top: 140px;  /* keeps your space from the navbar */
}


.contact-form .form-control:focus {
  background-color: rgba(255, 255, 255, 0.15);
  border-color: var(--color-secondary);
  box-shadow: none;
}

.form-input::placeholder {
  color: var(--color-primary);
}

.form-long-input::placeholder {
  color: var(--color-primary);
}



/* Button Styles */
.form-submit {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: var(--color-secondary);
  color: var(--color-text-light);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1rem;
}

.form-submit:hover{
  background-color: var(--color-primary);
}

/* Toggle Switch Styles */
.toggle-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.toggle-container label {
  margin-right: 0.5rem;
  font-weight: bold;
  color: var(--color-text-light);
  font-size: 1rem;
}

/* Base styling for the toggle switch */
.toggle-container input[type="checkbox"] {
  width: 40px;
  height: 20px;
  appearance: none;
  background-color: #ccc;
  border-radius: 20px;
  position: relative;
  outline: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Circle/knob inside the toggle switch */
.toggle-container input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: var(--color-text-light);
  transition: transform 0.3s ease;
}

/* Change background when toggled on */
.toggle-container input[type="checkbox"]:checked {
  background-color: var(--color-secondary);
}

/* Move the circle when toggled on */
.toggle-container input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}